#lead {
  margin: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.leaderboard {
  background-color: transparent;
  border: 1px solid #780000;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  border: 1px solid #780000;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
}

.search-bar button {
  border: 1px solid #780000;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.filter-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  border: 1px solid #780000;
  border-radius: 5px;
}

.filter-bar button {
  border-radius: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}

.filter-bar button.active {
  border: 1px solid #780000;
  background-color: #323332;
  color: white;
}

.leaderboard table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.leaderboard th,
.leaderboard td {
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #780000;
}

.leaderboard th {
  background-color: #323332;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leaderboard tr:hover {
  background-color: #323332;
}

.leaderboard .name-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leaderboard img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.leaderboard .copy-icon {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  outline: none;
}

.leaderboard .copy-icon:hover {
  text-decoration: underline;
}

.leaderboard a {
  text-decoration: none;
  color: #007bff;
}

.leaderboard a:hover {
  text-decoration: underline;
}

/* Adding a media query for smaller screens */
@media screen and (max-width: 768px) {
  #lead {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .leaderboard {
    padding: 10px;
  }

  .leaderboard th,
  .leaderboard td {
    padding: 5px;
    font-size: 14px;
  }

  .leaderboard th {
    display: none;
  }

  .leaderboard tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #780000;
    border-radius: 10px;
  }

  .leaderboard tbody td {
    text-align: center;
    border-radius: 0;
  }

  .leaderboard .copy-icon {
    display: none;
  }

  .leaderboard .name-wrapper {
    gap: 5px;
  }

  .leaderboard table {
    overflow-x: auto;
  }
}
